.yellow-glassmorphism {
    background: rgba(207, 255, 36, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.4px);
    -webkit-backdrop-filter: blur(15.4px);
    border: 1px solid rgba(207, 255, 36, 0.3);
}

/* From https://css.glass */
.card-glassmorphism {
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
}
  
.containerWidth {
    width: calc(100% - 2rem);
    max-width: 1280px;
    margin-block: auto;
}
